<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Avans Games</h3>
    <p>
      Een webapplicatie om informatie over games in te zien en toe te voegen, games worden gemaakt door game
      ontwikkelaars en games bevatten gamekarakters.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Jesse van der Poel</h5>
        <p class="card-text">
          Studentnummer: 2098775
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <p>Games</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>releaseDate: date</li>
      <li>ontwikkelaars: gameOntwikkelaar</li>
      <li>beschrijving: string</li>
      <li>rating: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Game Ontwikkelaars</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>founded: date</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Game karakters</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>series: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Gebruiker</p>
    <ul>
      <li>email: string</li>
      <li>wachtwoord: string</li>
      <li>id: number</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
