<form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-label-group">
    <input type="text" id="name" placeholder="Name" formControlName="name" class="form-control" />
  </div>

  <div class="form-label-group">
    <input type="text" id="email" placeholder="Email address" formControlName="email" class="form-control" />
    <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">
      <p id="email-invalid">Please enter a valid email address</p>
    </span>
  </div>

  <div class="form-label-group">
    <input
      type="password"
      id="password"
      placeholder="Password"
      formControlName="password"
      class="form-control"
    />
    <span
      *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
      class="help-block"
    >
      <p id="password-invalid">Please enter a valid password</p>
    </span>
  </div>

  <button
    id="submitbutton"
    class="btn btn-lg btn-primary btn-block"
    type="submit"
    [disabled]="!registerForm.valid"
  >
    Sign up
  </button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; Avans Informatica Breda 2019-2020</p>
</form>
