<div>
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let developer of developers$"
      [class.active]="developer === selectedDeveloper"
      [class.selected]="developer === selectedDeveloper"
      (click)="onSelect(developer)"
    >
      <span></span>{{ developer.name }}
    </li>
  </ul>
</div>
<p></p>
<div class="col">
  <button type="button" class="btn btn-primary float-right" routerLink="new">New Developer</button>
</div>

<app-developer-detail [developer]="selectedDeveloper"></app-developer-detail>
