<div *ngIf="developer">
  <h2>{{ developer.name | uppercase }} Details</h2>

  <div>
    <label
      >Founded:
      <input [(ngModel)]="developer.founded" placeholder="founded" />
    </label>
  </div>

  <div class="sticky-component">
    <!-- Debug: display editmode -->
    <!-- <p>Edit mode = {{ editMode | json }}</p> -->

    <!-- See https://angular.io/guide/forms-overview for documentation on forms -->
    <!-- See https://getbootstrap.com/docs/4.0/components/forms/#layout for info about Bootstrap form styling -->
    <form
      *ngIf="developer"
      #userEditForm="ngForm"
      name="form"
      (ngSubmit)="(userEditForm.form.valid)"
      novalidate
    >
      <div class="form-row">
        <div class="form-group col-sm-12 col-lg-6">
          <label for="founder">Founder</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="developer.founder"
            name="founder"
            #founder="ngModel"
            [ngClass]="{
              'is-invalid': founder.invalid && (founder.dirty || founder.touched)
            }"
            required
            minlength="3"
          />
          <div *ngIf="founder.invalid && founder.touched" class="invalid-feedback">
            <div *ngIf="founder?.errors.required">Founder is required</div>
            <div *ngIf="founder?.errors.minlength">Founder must be at least 3 characters long.</div>
          </div>
          <!-- Debugging inputstatus -->
          <!-- <p>founder.invalid = {{founder.invalid}}</p> -->
          <!-- <p>founder.touched = {{founder.touched}}</p> -->
          <!-- <p>founder.dirty = {{founder.dirty}}</p> -->
          <!-- <p>founder.pristine = {{founder.pristine}}</p> -->
        </div>

        <div class="form-group col-sm-12 col-lg-6">
          <label for="employees">Employees</label>
          <input
            type="number"
            class="form-control"
            name="employees"
            [(ngModel)]="developer.employees"
            #employees="ngModel"
            [ngClass]="{
              'is-invalid': employees.invalid && (employees.dirty || employees.touched)
            }"
            required
            minlength="1"
          />
          <div *ngIf="employees.invalid && employees.touched" class="invalid-feedback">
            <div *ngIf="employees?.errors.required">Employees is required</div>
            <div *ngIf="employees?.errors.minlength">Employees must be at least 1 character long.</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-9">
          <label for="founded">Founded</label>
          <div class="input-group">
            <input
              type="date"
              class="form-control"
              name="founded"
              [(ngModel)]="date"
              ngbDatepicker
              #founded="ngbDatepicker"
              required
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="founded.toggle()" type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- <pre>Model: {{ dob | json }}</pre> -->

      <div class="form-row align-items-right">
        <div class="col-auto">
          <div class="form-group float-right">
            <button (click)="delete()" type="button" class="btn btn-spacing btn-outline-warning float-right">
              Delete
            </button>
            <button
              (click)="save()"
              type="submit"
              class="btn btn-success float-right"
              [disabled]="!userEditForm.valid"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
