<div *ngIf="character">
  <h2>{{ character.name | uppercase }} Details</h2>

  <div class="sticky-component">
    <form
      *ngIf="character"
      #userEditForm="ngForm"
      series="form"
      (ngSubmit)="(userEditForm.form.valid)"
      novalidate
    >
      <div class="form-row">
        <div class="form-group col-sm-12 col-lg-6">
          <label for="series">Series</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="character.series"
            name="series"
            #series="ngModel"
            [ngClass]="{
              'is-invalid': series.invalid && (series.dirty || series.touched)
            }"
            required
            minlength="3"
          />
          <div *ngIf="series.invalid && series.touched" class="invalid-feedback">
            <div *ngIf="series?.errors.required">Series is required</div>
            <div *ngIf="series?.errors.minlength">Series must be at least 3 characters long.</div>
          </div>
        </div>
      </div>

      <div class="form-row align-items-right">
        <div class="col-auto">
          <div class="form-group float-right">
            <button (click)="delete()" type="button" class="btn btn-spacing btn-outline-warning float-right">
              Delete
            </button>
            <button
              (click)="save()"
              type="submit"
              class="btn btn-success float-right"
              [disabled]="!userEditForm.valid"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
