<div>
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let game of games$"
      [class.active]="game === selectedGame"
      [class.selected]="game === selectedGame"
      (click)="onSelect(game)"
    >
      <span></span>{{ game.name }}
    </li>
  </ul>
</div>
<p></p>
<div class="col">
  <button type="button" class="btn btn-primary float-right" routerLink="new">New Game</button>
</div>

<app-game-detail [game]="selectedGame"></app-game-detail>
