<div>
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let character of characters$"
      [class.active]="character === selectedCharacter"
      [class.selected]="character === selectedCharacter"
      (click)="onSelect(character)"
    >
      {{ character.name }}
    </li>
  </ul>
</div>
<p></p>
<div class="col">
  <button type="button" class="btn btn-primary float-right" routerLink="new">New Character</button>
</div>

<app-character-detail [character]="selectedCharacter"></app-character-detail>
