<div *ngIf="game">
  <h2>{{ game.name | uppercase }} Details</h2>

  <div>
    <label
      >ReleaseDate:
      <input [(ngModel)]="game.releaseDate" placeholder="releaseDate" />
    </label>
  </div>

  <div class="sticky-component">
    <!-- Debug: display editmode -->
    <!-- <p>Edit mode = {{ editMode | json }}</p> -->

    <!-- See https://angular.io/guide/forms-overview for documentation on forms -->
    <!-- See https://getbootstrap.com/docs/4.0/components/forms/#layout for info about Bootstrap form styling -->
    <form *ngIf="game" #userEditForm="ngForm" name="form" (ngSubmit)="(userEditForm.form.valid)" novalidate>
      <div class="form-row">
        <div class="form-group col-sm-12 col-lg-6">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="game.description"
            name="description"
            #description="ngModel"
            [ngClass]="{
              'is-invalid': description.invalid && (description.dirty || description.touched)
            }"
            required
            minlength="3"
          />
          <div *ngIf="description.invalid && description.touched" class="invalid-feedback">
            <div *ngIf="description?.errors.required">Description is required</div>
            <div *ngIf="description?.errors.minlength">Description must be at least 3 characters long.</div>
          </div>
          <!-- Debugging inputstatus -->
          <!-- <p>description.invalid = {{description.invalid}}</p> -->
          <!-- <p>description.touched = {{description.touched}}</p> -->
          <!-- <p>description.dirty = {{description.dirty}}</p> -->
          <!-- <p>description.pristine = {{description.pristine}}</p> -->
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-9">
          <label for="releaseDate">ReleaseDate</label>
          <div class="input-group">
            <input
              type="date"
              class="form-control"
              name="releaseDate"
              [(ngModel)]="date"
              ngbDatepicker
              #releaseDate="ngbDatepicker"
              required
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="releaseDate.toggle()" type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-4">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Developer</label>
          <select
            class="custom-select mr-sm-2"
            id="inlineFormCustomSelect"
            name="developer"
            [(ngModel)]="game.developer"
            #developer="ngModel"
          >
            <option *ngFor="let developer of developers$" [value]="developer._id">
              {{ developer.name }}
            </option>
          </select>
        </div>

        <div class="form-group col-lg-4">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Rating</label>
          <select
            class="custom-select mr-sm-2"
            id="inlineFormCustomSelect"
            name="rating"
            [(ngModel)]="game.rating"
            #rating="ngModel"
          >
            <option selected>{{ game.rating }}</option>
            <option [value]="1">1 </option>
            <option [value]="2">2 </option>
            <option [value]="3">3 </option>
            <option [value]="4">4 </option>
            <option [value]="5">5 </option>
          </select>
        </div>
      </div>

      <!-- <pre>Model: {{ dob | json }}</pre> -->

      <div class="form-row align-items-right">
        <div class="col-auto">
          <div class="form-group float-right">
            <button (click)="delete()" type="button" class="btn btn-spacing btn-outline-warning float-right">
              Delete
            </button>
            <button
              (click)="save()"
              type="submit"
              class="btn btn-success float-right"
              [disabled]="!userEditForm.valid"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
