<h2>Create a new character</h2>

<div class="sticky-component">
  <!-- Debug: display editmode -->
  <!-- <p>Edit mode = {{ editMode | json }}</p> -->

  <!-- See https://angular.io/guide/forms-overview for documentation on forms -->
  <!-- See https://getbootstrap.com/docs/4.0/components/forms/#layout for info about Bootstrap form styling -->
  <form
    *ngIf="character"
    #userEditForm="ngForm"
    name="form"
    (ngSubmit)="(userEditForm.form.valid)"
    novalidate
  >
    <div class="form-row">
      <div class="form-group col-lg-3">
        <label for="name">Name</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="character.name"
            #name="ngModel"
            required
            minlength="1"
          />
          <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
            <div *ngIf="name?.errors.required">Name is required</div>
            <div *ngIf="name?.errors.minlength">Name must be at least 1 character long.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-6">
        <label for="series">Series</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="character.series"
          name="series"
          #series="ngModel"
          [ngClass]="{
            'is-invalid': series.invalid && (series.dirty || series.touched)
          }"
          required
          minlength="3"
        />
        <div *ngIf="series.invalid && series.touched" class="invalid-feedback">
          <div *ngIf="series?.errors.required">Series is required</div>
          <div *ngIf="series?.errors.minlength">Series must be at least 3 characters long.</div>
        </div>
      </div>
    </div>

    <!-- <pre>Model: {{ dob | json }}</pre> -->

    <div class="form-row align-items-right">
      <div class="col-auto">
        <div class="form-group float-right">
          <button
            (click)="save()"
            type="submit"
            class="btn btn-success float-right"
            [disabled]="!userEditForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-spacing btn-outline-warning float-right"
            routerLink="/characters"
          >
            Return
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
